---
import SkillsList from "../React/SkillsList.tsx";
import LetterGlitch from "../React/LetterGlitch.tsx";
---

<section id="skills" class="scroll-mt-24 py-12 text-[var(--white)] border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="flex flex-col lg:flex-row items-center gap-8">
      <SkillsList client:load />
      <div class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16">
        <LetterGlitch
          client:load
          glitchColors={["#e4c07d", "#F2AC29", "#F28705", "#D9580D"]}
          glitchSpeed={33}
          centerVignette={false}
          outerVignette={true}
          smooth={true}
        />
      </div>
    </div>
  </div>
</section>